@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

/* mobile x600px */
@media screen and (max-width: 600px) {
  body {
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(115deg, #121725, rgba(6, 10, 8, 0.7)),
      url(./assets/desktop/image-host.jpg);
  }

  .hero-img {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .logo {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .dots {
    display: none;
  }

  .text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
  }

  .text-hero h2 {
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(60, 197, 129, 0.7);
    font-weight: 400;
  }

  .text-hero h2 span {
    display: block;
    color: #f4eee8;
    font-weight: 200;
    text-indent: 12px;
  }

  .text-hero small {
    text-align: center;
    text-transform: initial;
    color: rgba(247, 243, 243, 0.645);
    font-weight: 200;
    word-spacing: 2px;
    margin: 2rem 25px;
    line-height: 2;
  }

  /* form */

  .casts {
    position: absolute;
    right: 0;
    bottom: auto;
    left: 0;
    top: -30px;
    margin: 3rem 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .casts img {
    height: 100%;
    width: 80px;
    padding: 0 7px;
  }

  #form {
    position: relative;
    bottom: -50%;
    margin: auto;
    padding: 2.5rem 0.625rem;
  }

  .cta {
    position: absolute;
    top: auto;
    bottom: -170%;
    left: 30px;
    right: 0;
  }

  input {
    display: block;
    height: 2.775rem;
    padding: 1.5rem 2.7rem;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
    background: rgba(150, 148, 148, 0.645);
  }

  ::placeholder {
    color: rgba(247, 243, 243, 0.645);
  }

  button {
    margin-top: 0.95rem;
    height: 3.2rem;
    border: none;
    border-radius: 40px;
    display: block;
    padding: 0.775rem 5.6rem;
    font-size: 18px;
    cursor: pointer;
    background: rgba(124, 228, 176, 0.7);
  }
}

/* desktop X992px */

@media screen and (min-width: 992px) {
  /* desktop */

  .container {
    height: 100vh;
    max-width: 100%;
    background: #121725;
  }

  main {
    padding: 2rem;
    position: relative;
  }

  .dots {
    position: absolute;
    bottom: -495px;
    right: -0px;
    /* width: 100px; */
    height: 90px;
  }

  header .logo {
    margin: 2rem 0 3rem 10rem;
    height: 100%;
    width: 120px;
  }

  .hero-img {
    float: right;
    height: 100px;
    width: 750px;
  }

  .hero-img img {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 100%;
    height: auto;
  }

  #modal {
    background-color: #121725;
    width: 600px;
    margin-left: 12rem;
    margin-top: 7rem;
    position: absolute;
    left: 0px;
    top: 123px;
    z-index: 1;
  }

  .text-hero {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    background: #121725;
    /* z-index: -1; */
    margin-top: 2rem;
    /* padding: 10px; */
  }

  .text-hero h2 {
    text-transform: uppercase;
    margin-top: 2rem;
    /* text-align: center; */
    color: rgba(124, 228, 176, 0.7);
    font-weight: 400;
    font-size: 43px;
  }

  span {
    display: block;
    color: #f4eee8;
  }

  .text-hero small {
    color: rgba(247, 243, 243, 0.645);
    font-weight: 400;
    max-width: 370px;
    line-height: 1.6;
    margin: 1.4rem 0;
  }

  /* forms */

  .cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 35px;
  }

  .cta input {
    height: 2rem;
    padding: 1.25rem 11rem 1.25rem 0;
    border-radius: 40px;
    font-size: 14px;
    margin-top: 0.5rem;
    background: rgba(150, 148, 148, 0.645);
    border: none;
  }

  input[type='email']::placeholder {
    /* text-align: left; */
    padding-left: 20px;
    color: #c0bbb6;
  }

  button {
    position: absolute;
    height: 100%;
    padding: 0.6rem 0.4rem;
    border-radius: 40px;
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 700;
    border: none;
    background: rgba(124, 228, 176, 0.7);
    right: 251px;
    bottom: auto;
    left: 235px;
    top: 3.3px;
    text-align: center;
  }

  .casts {
    margin: 2.2rem 0 0.4rem 0;
  }

  .casts img {
    margin-top: 2.4rem;
    height: 100%;
    width: 110px;
    padding-right: 33px;
    opacity: 0.5;
  }
}
